* text=auto

.gitattributes text eol=lf
.node-version text eol=lf
.nvmrc text eol=lf

*.css text eol=lf
*.csv text eol=lf
*.geojson text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.tsv text eol=lf
*.yml text eol=lf

*.png binary
*.xlsx binary
